# Исключить виртуальные окружения
venv/
.env
# Исключить скомпилированные Python файлы
*.pyc
__pycache__/
# Исключить логи
*.log
# Исключить временные файлы редакторов и IDE
.idea/
.vscode/
*.swp
*.swo
# Исключить базу данных SQLite (если используется)
*.db
*.sqlite3
# Исключить зависимости Poetry, которые автоматически создаются
# alembic/versions/

# Исключить кэшированные файлы
.cache/